{% if collection.title == "Featured" %}
 {%- assign handle = collection.handle -%}
 {% for product in collections[handle].products %}
    <p>{{ product.title }}</p>
 {% endfor %}
 {% break %}
{% endif %}