{% form "product", product %}
{%- for collection in collections -%}
 {% if collection.title == "Featured" %}
   {%- assign handle = collection.handle -%}
   {% for product in collections[handle].products %}
     <a href = "{{ product.url }}"><p>{{ product.title }}</p></a>
   {% endfor %}
   {% break %}
 {% endif %}
{%- endfor -%}
{% endform %}