<div class="advertHeading">
    <div class="wrapper">
        <h4>FASHIONSMINE</h4>
    </div>
</div>
<div class="wrapper">
    <div class="main-right">
        <span style="font-style: italic; color: rgb(48, 48, 48);">Home > Trending > Products</span>
        <h3 class="advert_main_title"><strong>Scientifically Proven New Method Beats Every Diet and Workout Plan We Tried So Far (Without Spending $$$$ On Surgery)</strong></h3>
    </div>
    <div class="main-left">
    </div>
</div>


<style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
    body {
        font-family: 'Open Sans', sans-serif;
    }
    .advertHeading {
        background-color: #221F37;
    }
    .advertHeading h4 {
        padding:1em 0 1em 0;
        color: #fff;
    }
    .advert_main_title{
        font-size: 2.5rem;
        color: #252A32;
        letter-spacing: inherit;
    }
</style>